
[type="radio"] {
  display: none;
}

.left-panel {
  position: absolute;
  left: 0px;
  width: 35%;
}

.right-panel {
  position: absolute;
  right: 0px;
  width: 65%;
}

#info {
  margin-top: 15vh;
  margin-left: 10vh;
  margin-right: 4vh;
  color: white;
}

#info > h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.static-margin-40 {
	margin-top: 40%;
}

.slide-info > h2 {
	/*margin-top: 40%;*/
}

.slide-info > p {
	margin-top: 10%;
}

#slider {
  width: 90vw;
  height: 98vh;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider > label > img {
  height: 100%;
  width: 100%;
}

#slider label {
  width: 35%;
  height: 80%;
  margin-top: 15vh;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#slider  h1 {
    display: none;
    position: absolute;
    top: 53%;
    text-align:center;
    width: 30%;
    color: white;
   /* opacity: 0;*/
    z-index: 1000;
}

#s1:hover ~ #header1,
#s2:hover ~ #header2,
#s3:hover ~ #header3,
#s4:hover ~ #header4 {
  display: block;
}

#s1:hover ~ #slide1,#s1:hover ~ #slide2,#s1:hover ~ #slide3,#s1:hover ~ #slide4,
#s2:hover ~ #slide1,
#s2:hover ~ #slide2,
#s2:hover ~ #slide3,
#s2:hover ~ #slide4,
#s3:hover ~ #slide1,
#s3:hover ~ #slide2,
#s3:hover ~ #slide3,
#s3:hover ~ #slide4,
#s4:hover ~ #slide1,
#s4:hover ~ #slide2,
#s4:hover ~ #slide3,
#s4:hover ~ #slide4 {
  filter: brightness(80%);
}


#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(30%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(60%, 0, -200px);
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(90%, 0, -300px);
}

.left-panel .next   {
    padding-top: 1vh;
    margin-left: 5vw;
    color: #ffffff;
    width: 200px;
    height: 200px;
}

.left-panel .next a {
    border-style: solid;
    padding: 0.2em 0.6em 0.4em 0.6em;
    color: #ffffff;
    font-size: 2em;
    border-radius: 60px;
    text-decoration: none;
}
