html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.t-dark {
  background: #131313;
  color: #ffffff;
}

.t-light {
  background: #ffffff;
  color: #131313;
}

.t-focus {
  background: #e1321e;
  color: #ffffff;
}

.t-gradient {
  background: linear-gradient(90deg, #131313 50%, #e1321e 50%);
  color: #ffffff;
}

.t-fg--focus {
  color: #e1321e;
}

.u-uppercase, h1, h2, h3 {
  text-transform: uppercase;
}

.u-light {
  color: #ffffff;
}

.o-box {
  display: -webkit-flex;
  display: flex;
  height: inherit;
}

.o-box--column {
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
}

.o-box--row {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.o-box__item {
  flex: 1;
  z-index: inherit;
}

.o-box--full {
  height: 100%;
}

.c-align {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.c-align--left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
}

.c-align--right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: end;
  justify-content: end;
}

.c-align__item--top {
  align-self: start;
}

.c-align__item--bottom {
  align-self: end;
}

.c-about {
  height: 100vh;
}

.c-about .c-about__header {
  background: url("../img/main.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex: 3;
}

.c-about .c-about__select {
  flex: 2;
}

.c-header {
  margin: 0 22.5vw 0 22.5vw;
}

.c-mission {
  margin: 0 7.5vw 0 7.5vw;
}

.c-news {
  height: 100vh;
}

.c-news .c-news__title {
  flex: 3;
  background: url("../img/main.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  /*
    &::after {
      content: "";
      position: fixed;
      top: 0; bottom: 0; left: 0; right: 0;
      background: hsla(0%,0%,0%,0.25);
      pointer-events: none;
    }
    */
}

.c-news .c-news__slideshow {
  flex: 2;
  position: relative;
  height: 100%;
  max-width: 100%;
  margin-bottom: 4%;
}

.swiper-slide {
  display: block;
}

.c-news-headline {
  height: inherit;
  width: inherit;
  text-align: left;
}

.c-news-headline__left {
  padding: 0 7.5% 0 20%;
}

.c-news-headline__right {
  padding: 0 15% 0 7.5%;
}

.c-swiper-focus {
  height: 100%;
  width: 4%;
  position: absolute;
  background: #e1321e;
  z-index: 1;
  top: 0;
}

.c-swiper-focus--right {
  right: 0;
}

.c-swiper-focus .swiper-button-prev {
  z-index: 2;
}

.cover {
  height: inherit;
  width: inherit;
  background: rgba(0, 0, 0, 0.5);
  sizing-box: border-box;
}

.cover--head {
  padding-bottom: 5%;
}

.align {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.align--auto {
  height: auto;
}

.align--left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
}

.align--right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: end;
  justify-content: end;
}

.align__item--top {
  align-self: start;
}

.align__item--bottom {
  align-self: end;
}

.padding {
  padding: 0 7.5vw 0 7.5vw;
}

.padding--light {
  padding: 0 3.75vw 0 3.75vw;
}

.padding--top {
  padding-top: 5vh;
}

.padding--bottom {
  padding-bottom: 5vh;
}

.padding--cover {
  padding: 0 28vw 0 28vw;
}

@media screen and (max-width: 700px) {
  .padding .padding--cover {
    padding: 0 7.5vw 0 7.5vw;
  }
}

.about-container {
  height: 100vh;
  display: grid;
  sizing-box: border-box;
  grid-template-rows: 3fr 1fr 2fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "about" "body";
}

.about-container__header {
  position: relative;
  grid-area: header;
  background: url("../img/main.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-container__about {
  grid-area: about;
}

.about-container__body {
  grid-area: body;
  display: flex;
  flex-flow: row wrap;
}

.mission, .vision {
  flex: 1 1 500px;
}

.news-container {
  height: 100vh;
  display: grid;
  sizing-box: border-box;
  grid-template-rows: 3fr 3fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "slideshow";
}

.news-container__header {
  grid-area: header;
  position: relative;
  background: url("../img/main.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.news-container__slideshow {
  grid-area: slideshow;
  position: relative;
  height: 100%;
  width: 99.4vw;
  max-width: 100%;
  sizing-box: border-box;
  padding-bottom: 5vh;
}

.news-container--single {
  grid-template-rows: 3fr 3fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header header header" "body body body thumbnail";
}

.news-container__body {
  grid-area: body;
}

.news-container__thumbnail {
  grid-area: thumbnail;
  display: flex;
  align-items: center;
}

.news-container__thumbnail img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  widtht: auto;
  height: auto;
}

.headline {
  height: 100%;
  /* index.css has conflicting classes*/
  display: grid !important;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  sizing-box: border-box;
}

.headline__first {
  grid-column: 1;
  grid-row: 1;
  padding: 5vh 7.5vw 0 15vw;
}

.headline__second {
  grid-column: 2;
  grid-row: 1;
  padding: 5vh 15vw 0 7.5vw;
}

.headline-body {
  height: 100%;
  display: grid;
  text-align: left !important;
  sizing-box: border-box;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas: "date" "headline" "link";
}

.headline-body__date {
  grid-area: date;
}

.headline-body__headline {
  grid-area: headline;
}

.headline-body__link {
  grid-area: link;
}

.c-gallery {
  height: inherit;
}

.c-gallery__body {
  height: 20vh;
  width: 50vw;
}

.c-gallery__body__title {
  flex: 2;
}

.c-gallery__img {
  flex: 1;
}

.swiper-container {
  width: inherit;
  height: inherit;
}

.c-link {
  text-transform: uppercase;
}

.c-link a {
  color: #ffffff;
  font-size: xx-small;
  opacity: 0.5;
  font-weight: 800;
  padding-bottom: 0;
  border-bottom: 2px solid #ffffff;
  height: 1.5em;
  line-height: 1em;
  white-space: nowrap;
}

.c-link a:hover {
  opacity: 1;
  text-decoration: none;
}

.c-btn-link a {
  color: #e1321e;
  padding: .5em 1em .5em 1em;
  border: 2px #e1321e solid;
  border-radius: 50px;
}

.c-btn-link a:hover {
  text-decoration: none;
}
