@mixin box-sizing($value: border-box){
    -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}
%box-sizing { @include box-sizing(inherit); }
* { 
  margin: 0; 
  padding: 0; 
  @extend %box-sizing;
  &:before  { @extend %box-sizing; } 
  &:after   { @extend %box-sizing; }
}
