%headlines-margin {
  margin: 2vh 20px;
}

.headline {
  $lateral: $lateral-padding;
  position: relative;
  padding: $lateral !important;
  padding-top: $lateral * 2 !important;
  &__container {
    position: relative;
    padding-top   :$lateral*2 $lateral;
    width: 50vw;
    height: 100%;
  }

  &__item {
    background: $red;
    color: $white;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    h6 { @extend .h6; @extend %headlines-margin;}
    h5 { @extend .h5; @extend %headlines-margin;}
    h3 { @extend .h3; @extend %headlines-margin; text-transform: uppercase; }
  }
}
