@{
    ViewBag.Title = "Home Page";
}

<section id="disciplines-section">
    <div class="row">
        <div class="info-panel col-md-4 order-2 order-md-12">
            <div id="info">
                <h1 class="text-mobile">Disciplinas</h1>
                <label class="static-margin-40"></label>
                <div id="info1" class="c-tooltip">
                    <div class="c-tooltip__title">
                        <h3 class="u-uppercase">Salto</h3>
                    </div>
                    <div class="c-tooltip__tip">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget co    mmodo augue, eu vehicula quam. Aliquam pharetra nunc id urna molestie efficitur. Donec a r    honcus turpis. In neque libero, pretium nec lobortis vitae, vestibulum in justo. Duis vel     quam dapibus. </p>
                    </div>
                </div>
                <div id="info2" class="c-tooltip">
                    <div class="c-tooltip__title">
                        <h3 class="u-uppercase">Adiestramiento</h3>
                    </div>
                    <div class="c-tooltip__tip">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget co    mmodo augue, eu vehicula quam. Aliquam pharetra nunc id urna molestie efficitur. Donec a r    honcus turpis. In neque libero, pretium nec lobortis vitae, vestibulum in justo. Duis vel     quam dapibus. </p>
                    </div>
                </div>
                <div id="info3" class="c-tooltip">
                    <div class="c-tooltip__title">
                        <h3 class="u-uppercase">Enduro</h3>
                    </div>
                    <div class="c-tooltip__tip">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget co    mmodo augue, eu vehicula quam. Aliquam pharetra nunc id urna molestie efficitur. Donec a r    honcus turpis. In neque libero, pretium nec lobortis vitae, vestibulum in justo. Duis vel     quam dapibus. </p>
                    </div>
                </div>
                <div id="info4" class="c-tooltip">
                    <div class="c-tooltip__title">
                        <h3 class="u-uppercase">Prueba completa</h3>
                    </div>
                    <div class="c-tooltip__tip">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget co    mmodo augue, eu vehicula quam. Aliquam pharetra nunc id urna molestie efficitur. Donec a r    honcus turpis. In neque libero, pretium nec lobortis vitae, vestibulum in justo. Duis vel     quam dapibus. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-panel col-md-8 order-1 order-md-12">
            <div id="slider" class="3d-slideshow">
                <input type="radio" name="3d" id="s1" class="js-3d-init" onchange="show(this);    ">
                <input type="radio" name="3d" id="s2" onchange="show(this);">
                <input type="radio" name="3d" id="s3" onchange="show(this);">
                <input type="radio" name="3d" id="s4" onchange="show(this);">
                <label for="s1" id="slide1">
                    <img src="~/Content/img/main.jpg" alt="First slide">
                    <div id="header1" class="c-align"><h1 class="u-uppercase">Salto</h1></div>
                </label>
                <label for="s2" id="slide2">
                    <img src="~/Content/img/main2.jpg" alt="Second slide">
                    <div id="header2" class="c-align"><h1 class="u-uppercase">Adiestramiento</h1></div>
                </label>
                <label for="s3" id="slide3">
                    <img src="~/Content/img/main3.jpg" alt="Third slide">
                    <div id="header3" class="c-align"><h1 class="u-uppercase">Enduro</h1></div>
                </label>
                <label for="s4" id="slide4">
                    <img src="~/Content/img/main3.jpg" alt="Third slide">
                    <div id="header4" class="c-align"><h1 class="u-uppercase">Prueba completa</h1></div>
                </label>
            </div>
        </div>
    </div>
</section>
<section id="ranking-section">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="section-header">
                RANKING
            </div>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Adiestramiento</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">Enduro</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                   aria-controls="v-pills-messages" aria-selected="false">Salto</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                   aria-controls="v-pills-settings" aria-selected="false">Prueba Completa</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="desktop-ranking row">
                        <div class="card col-6 col-xs-10 col-md-3 first">
                            <div class="card-title">PRIMER PUESTO</div>
                            <div class="card-content">
                                <img src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                <div class="container">
                                    <p><strong>SVENJA ECHLER</strong></p>
                                    <p>CABALLO: SAMY</p>
                                    <p>PUNTOS: 92.09</p>
                                </div>
                            </div>
                        </div>
                        <div class="card col-6 col-md-3 second">
                            <div class="card-title">SEGUNDO PUESTO</div>
                            <div class="card-content">
                                <img class="card-image" src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                <div class="container">
                                    <p><strong>SVENJA ECHLER</strong></p>
                                    <p>CABALLO: PEPE</p>
                                    <p>PUNTOS: 90.10</p>
                                </div>
                            </div>
                        </div>
                        <div class="card col-6 col-md-3 third">
                            <div class="card-title">TERCER PUESTO</div>
                            <div class="card-content">
                                <img src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                <div class="container">
                                    <p><strong>SVENJA ECHLER</strong></p>
                                    <p>CABALLO: SUGAR</p>
                                    <p>PUNTOS: 84.56</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-ranking">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide col-6 col-md-3">
                                    <div class="card first">
                                        <div class="card-title">PRIMER PUESTO</div>
                                        <div class="card-content">
                                            <img src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                            <div class="container">
                                                <p><strong>SVENJA ECHLER</strong></p>
                                                <p>CABALLO: SAMY</p>
                                                <p>PUNTOS: 92.09</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide col-6 col-md-3">
                                    <div class="card second">
                                        <div class="card-title">SEGUNDO PUESTO</div>
                                        <div class="card-content">
                                            <img class="card-image" src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                            <div class="container">
                                                <p><strong>SVENJA ECHLER</strong></p>
                                                <p>CABALLO: PEPE</p>
                                                <p>PUNTOS: 90.10</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide col-6 col-md-3">
                                    <div class="card third">
                                        <div class="card-title">TERCER PUESTO</div>
                                        <div class="card-content">
                                            <img src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                            <div class="container">
                                                <p><strong>SVENJA ECHLER</strong></p>
                                                <p>CABALLO: SUGAR</p>
                                                <p>PUNTOS: 84.56</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="desktop-ranking row">
                        <div class="card col-6 col-md-3 first">
                            <div class="card-title">PRIMER PUESTO</div>
                            <div class="card-content">
                                <img src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                <div class="container">
                                    <p><strong>SVENJA ECHLER</strong></p>
                                    <p>CABALLO: SAMY</p>
                                    <p>PUNTOS: 92.09</p>
                                </div>
                            </div>
                        </div>
                        <div class="card col-6 col-md-3 second">
                            <div class="card-title">SEGUNDO PUESTO</div>
                            <div class="card-content">
                                <img class="card-image" src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                <div class="container">
                                    <p><strong>SVENJA ECHLER</strong></p>
                                    <p>CABALLO: PEPE</p>
                                    <p>PUNTOS: 90.10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-ranking">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide col-6 col-md-3">
                                    <div class="card first">
                                        <div class="card-title">PRIMER PUESTO</div>
                                        <div class="card-content">
                                            <img src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                            <div class="container">
                                                <p><strong>SVENJA ECHLER</strong></p>
                                                <p>CABALLO: SAMY</p>
                                                <p>PUNTOS: 92.09</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide col-6 col-md-3">
                                    <div class="card second">
                                        <div class="card-title">SEGUNDO PUESTO</div>
                                        <div class="card-content">
                                            <img class="card-image" src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                            <div class="container">
                                                <p><strong>SVENJA ECHLER</strong></p>
                                                <p>CABALLO: PEPE</p>
                                                <p>PUNTOS: 90.10</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="desktop-ranking row">
                        <div class="card col-6 col-md-3 first">
                            <div class="card-title">PRIMER PUESTO</div>
                            <div class="card-content">
                                <img src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                <div class="container">
                                    <p><strong>SVENJA ECHLER</strong></p>
                                    <p>CABALLO: SAMY</p>
                                    <p>PUNTOS: 92.09</p>
                                </div>
                            </div>
                        </div>
                        <div class="card col-md-3 second">
                            <div class="card-title">SEGUNDO PUESTO</div>
                            <div class="card-content">
                                <img class="card-image" src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                <div class="container">
                                    <p><strong>SVENJA ECHLER</strong></p>
                                    <p>CABALLO: PEPE</p>
                                    <p>PUNTOS: 90.10</p>
                                </div>
                            </div>
                        </div>
                        <div class="card col-md-3 third">
                            <div class="card-title">TERCER PUESTO</div>
                            <div class="card-content">
                                <img src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                <div class="container">
                                    <p><strong>SVENJA ECHLER</strong></p>
                                    <p>CABALLO: SUGAR</p>
                                    <p>PUNTOS: 84.56</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-ranking">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide col-6 col-md-3">
                                    <div class="card first">
                                        <div class="card-title">PRIMER PUESTO</div>
                                        <div class="card-content">
                                            <img src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                            <div class="container">
                                                <p><strong>SVENJA ECHLER</strong></p>
                                                <p>CABALLO: SAMY</p>
                                                <p>PUNTOS: 92.09</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide col-6 col-md-3">
                                    <div class="card second">
                                        <div class="card-title">SEGUNDO PUESTO</div>
                                        <div class="card-content">
                                            <img class="card-image" src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                            <div class="container">
                                                <p><strong>SVENJA ECHLER</strong></p>
                                                <p>CABALLO: PEPE</p>
                                                <p>PUNTOS: 90.10</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide col-6 col-md-3">
                                    <div class="card third">
                                        <div class="card-title">TERCER PUESTO</div>
                                        <div class="card-content">
                                            <img src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                            <div class="container">
                                                <p><strong>SVENJA ECHLER</strong></p>
                                                <p>CABALLO: SUGAR</p>
                                                <p>PUNTOS: 84.56</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="desktop-ranking row">
                        <div class="card col-md-3 first">
                            <div class="card-title">PRIMER PUESTO</div>
                            <div class="card-content">
                                <img src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                <div class="container">
                                    <p><strong>SVENJA ECHLER</strong></p>
                                    <p>CABALLO: SAMY</p>
                                    <p>PUNTOS: 92.09</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-ranking">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide col-6 col-md-3">
                                    <div class="card first">
                                        <div class="card-title">PRIMER PUESTO</div>
                                        <div class="card-content">
                                            <img src="~/Content/img/placeholder.png" alt="Avatar" style="width:100%">
                                            <div class="container">
                                                <p><strong>SVENJA ECHLER</strong></p>
                                                <p>CABALLO: SAMY</p>
                                                <p>PUNTOS: 92.09</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="events-section">
    <div class="row">
        <div class="col-md-4">
            <div class="section-header">
                EVENTOS
            </div>
        </div>
        <div class="col-md-8 swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide col-6 col-md-3">
                        <div class="event-card">
                            <div class="event-date">
                                08 y 09 Set
                            </div>
                            <div class="event-name">
                                CICOS 111 / FEI B
                            </div>
                            <div class="event-place">
                                Club Ecuestre Huachipa
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide col-6 col-md-3">
                        <div class="event-card">
                            <div class="event-date">
                                08 y 09 Set
                            </div>
                            <div class="event-name">
                                CICOS 111 / FEI B
                            </div>
                            <div class="event-place">
                                Club Ecuestre Huachipa
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide col-6 col-md-3">
                        <div class="event-card">
                            <div class="event-date">
                                08 y 09 Set
                            </div>
                            <div class="event-name">
                                CICOS 111 / FEI B
                            </div>
                            <div class="event-place">
                                Club Ecuestre Huachipa
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide col-6 col-md-3">
                        <div class="event-card">
                            <div class="event-date">
                                08 y 09 Set
                            </div>
                            <div class="event-name">
                                CICOS 111 / FEI B
                            </div>
                            <div class="event-place">
                                Club Ecuestre Huachipa
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide col-6 col-md-3">
                        <div class="event-card">
                            <div class="event-date">
                                08 y 09 Set
                            </div>
                            <div class="event-name">
                                CICOS 111 / FEI B
                            </div>
                            <div class="event-place">
                                Club Ecuestre Huachipa
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <script src="~/Content/js/lib/swiper/swiper.min.js"></script>
