@mixin reset() {
  margin: 0;
  padding: 0;
}
@mixin box-sizing($sizing: border-box){
  -webkit-box-sizing:$sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}
@mixin inline-grid($align: start) {
  @include grid-container();
  @include align-items($align);
  @include reset();
}
@mixin stack-grid($rows) {
  @include grid-container();
  @include grid-columns(1fr);
  @include grid-rows($rows);
  @include reset();
}
@mixin stack-child($start, $end) {
  @include grid-child-column(1, 2);
  @include grid-child-row($start,$end);
}

@mixin reverse-flexrow() {
  @include flexbox();
  @include flex-flow(row-reverse wrap);
  @include reset();
}
