html {
    @include box-sizing();
}
*,*:before,*:after {
    @include box-sizing(inherit);
    margin: 0;
    padding: 0;
}
body {
    background: $black;
    color: $white;
}
main {
}
address {
    font-style: normal;
}
img {
    @include setNoSelect();
}

/**DEPRICATED*/
.media {
    position: absolute;
    top:50%;
    left:50%;
    width: var(--w, auto);
    height: var(--h, auto);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}
.picture {
    @include setInheritFit();
    position: relative;
    overflow: hidden;
    &_media {
        position: absolute;
        top:50%;
        left:50%;
        width: var(--w, 100%);
        height: var(--h, 100%);
        -webkit-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
    }
}
.thumbnail {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 400px;
  min-width: 180px;
  min-height: 180px;
  position: relative;
  &_image {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }
  &_caption {
    width: 100%;
    height: 32%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($black, 0.75);
    color: $white;
    opacity: 0;
    transition: .5s ease;
    @include setNoSelect();
  }
  $this: &;
  &:hover {
    #{$this}_caption { opacity: 1; }
  }
  &-delicate {
    #{$this}_caption { height: 22%; }
  }
}
.dropdown {
    height: 0;
    display: none;
    transition: height .5 ease;
    &.isActive {
        height: 250px;
        display: block;
    }
    & .menu {
        margin-top: 15px;
        margin-left: 5px;
    }
}
.background {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    &_graphic {
        width: inherit;
        height: inherit;
    }
    &_upperside {
        fill: $red;
    }
    &_lowerside {
        fill: $black;
    }
}
