.navIcon {
    width:  60px;
    height: 60px;
    z-index: 2;
    position: fixed;
    top: $pad;
    &-left { left: $pad; }
    &-right { right: $pad; }
    &_wrapper { display: block; cursor: pointer; }
    &_logo {
        width: inherit;
        height: inherit;
        & .body { fill:$white; }
        & .fd   { fill:$black; }
        & .ne   { fill:$red; }
    }
    &_menu {
        width: inherit;
        height: inherit;
        & .menu { fill: $white; }
    }
}

.contact {
    display: grid;
    grid-template: "address icons" / auto 150px;
    width: 100%;
    height: 100%;
    & .flowLink {
        text-decoration: underline;
    }
    &_address { grid-area: address; }
    &_icons { grid-area: icons; }
}

.footer {
    position: relative;
    margin: 0;
    padding: 50px  $pad;
    width: auto;
    height: 40vh;
    text-align: left;
    color: $white;
    overflow: hidden;
    display: grid;
    grid-template: "social"  auto /auto;
    &_logo {
        grid-area: logo;
        display: none;
        & .navIcon {
            position: relative;
            top: 0;
        }
    }
    &_menu{
        grid-area: menu;
        display: none;
    }
    &_social{
        grid-area: social;
    }
}

@media only screen and (min-width: $breakpoint) {
    .footer {
        grid-template: "logo menu social" auto / 2fr 8fr 2fr;
        &_logo {
            display: block;
        }
        &_menu {
            display: block;
        }
        &_social {
            grid-template: "address" 80% "icons" 20% / auto;
        }
    }
}
