.navIcon {
    width:  60px;
    height: 60px;
    z-index: 2;
    position: fixed;
    top: $pad;
    &-left { left: $pad; }
    &-right { right: $pad; }
    &_wrapper { display: block; cursor: pointer; }
    &_logo {
        width: inherit;
        height: inherit;
        & .body { fill:$white; }
        & .fd   { fill:$black; }
        & .ne   { fill:$red; }
    }
    &_menu {
        width: inherit;
        height: inherit;
        & .menu { fill: $white; }
    }
}
.navigation {
    width: 0;
    height: 100vh;
    opacity: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: $black;
    overflow-x: hidden;
    transition: 0.5s;
    &.isActive {
        width: 70%;
        opacity: 1;
    }
    &  .menu {
        padding-top: $pad*5;
        padding-left: $pad*3;
        white-space: nowrap;
        @include flex-direction(column);
        row-gap: 15px;
    }
}
footer {
    position: relative;
    margin: 0;
    padding: $pad;
    width: auto;
    height: 25vh;
    text-align: left;
    color: $white;
    overflow: hidden;
}

.contact {
    display: grid;
    grid-template: "address icons" / auto 150px;
    width: 100%;
    height: 100%;
    & .flowLink {
        text-decoration: underline;
    }
}

.icon {
    width: 30px;
    height: 30px;
    fill: $white;;
}
