@mixin box-sizing($value: border-box){
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}
@mixin setInheritFit() {
  width: inherit;
  height: inherit;
}
@mixin setMinScreen($w, $h) {
  min-width: $w;
  min-height: $h;
}
@mixin setNoSelect() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
