// Default Font 
$fixed-font-family: 'Myriad', 'PT sans';;
$fixed-font-size: 12px;
$fixed-line-height: 1.2;
$fixed-letter-spacing: 2px;
$fixed-font-weight: 300;
// Heading Font
$heading-font-family: 'K2D', 'sans-serif';
$heading-font-weight: 500;
// Theme color
$white: #ffffff;
$black: #1a1919;
$red:   #b73827;
// Font-face imports
@import url('https://fonts.googleapis.com/css?family=K2D:300,400,500|PT+Sans');
@import 'mixin/_flexbox';
@import 'mixin/_mixins';
/*
 *  Base style
 */
*, *:before, *:after {
    margin: 0;
    padding: 0;
}

%headingTypography {
    font-family: $heading-font-family; 
    font-weight: $heading-font-weight;
}

.typography { 
    font-family:    $fixed-font-family; 
    font-size:      $fixed-font-size; 
    line-height:    $fixed-line-height; 
    letter-spacing: $fixed-letter-spacing;
    font-weight:    $fixed-font-weight;
}

.h1  { font-size: 4.0em;  @extend %headingTypography; }
.h2  { font-size: 3.0em;  @extend %headingTypography; }
.h3  { font-size: 2.0em;  @extend %headingTypography; }
.h4  { font-size: 1.5em;  @extend %headingTypography; }
.h5  { font-size: 1.3em;  @extend %headingTypography; }
.h6  { font-size: 1.2em;  @extend %headingTypography; }
.p   { font-size: 1.1em; }
.a   { font-size: 1.1em; }

// Atom
.media {
    width: 100%;
    height: 100%;
    &-unchanged {
        top:50%;
        left:50%;
        width: var(--w, auto);
        height: var(--h, auto);
        -webkit-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%)
    }
}

.link {
    @extend .a;
    color: var(--color, $white);
    text-decoration: none;
    cursor: pointer;
    $this: &;
    &.isActive { color: $red; }
    &:hover { color: $red; }
}

.linkButton {
    @extend .link;
    border: 2px solid var(--color, $white);
    border-radius: 45px;
    padding: 0.8em 1em;
    &.isActive {
        background: var(--hoverBg, $white);
        border: 2px solid var(--hoverColor, $black);
        color: var(--hoverColor, $black);
    }
    &:hover {
        @extend .linkButton.isActive;
    }
}


// Molecule
.pageGrid {
    display: grid;
    grid-template: "top" "bottom";
    &-inverse {
        grid-template: "bottom" "top";
    }
    &_top {
        grid-area: top;
    }
    &_bottom {
        grid-area: bottom;
    }
}

.frontPageHero {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    &_image {
        display: none;
    }
    &_caption {
        @include flexbox();
        @include align-content(center);
        width: 100%;
        height: 30%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

// Page
.homePage { 
    background: $black;
    color: $white;

    .flowSection {
        width: auto;
        height: 100vh;
    }
}
