// VARIABLES
$image-path : "../images";
/* Black color */
$theme-dark : #131313;
/* White color */
$theme-light: #ffffff;
/* Red color */
$theme-focus: #e1321e;
/* Font color */
$theme-color: $theme-light;
/* Responsive width */
$break-small: 700px;

