.c-link {
  text-transform: uppercase;
  a {
    color: $theme-color;
    font-size: xx-small;
    opacity: 0.5;
    font-weight: 800;
    padding-bottom: 0;
    border-bottom: 2px solid $theme-color;
    height: 1.5em;
    line-height: 1em;
    white-space: nowrap;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}
.c-btn-link {
  a {
    color: $theme-focus;
    padding:.5em 1em .5em 1em;
    border: 2px $theme-focus solid;
    border-radius: 50px;
    &:hover {
      text-decoration: none;
    }
  }
}
.active {
  color: $theme-focus !important;
}

.link { 
  color: $theme-light;  
  &:hover {
    color: $theme-focus;
    text-decoration: none;
    border-top: 2px solid $theme-focus;
    line-height: 2em;
  }

  &--active {
    color: $theme-focus;
  }
}

