// Universal box sizing fix
html {
  @include box-sizing(border-box);
} 
*, *:before, *:after {
  @include box-sizing(inherit);
}
// Reset padding and border to 0
body {
  @include box-reset();
} 
// UTILITIES
.c-swiper-focus {
  height: 100%;
  width: 4%;
  position: absolute;
  background: $theme-focus;
  z-index: 1;
  top: 0;
  &--right {
    right: 0;
  }
  .swiper-button-prev {
    z-index: 2;
  }
}
.cover {
  @include inherit-background-cover();
  &--head {
    padding-bottom: 5%; 
  }
}
.align {
  $self: &;
  height: 100%;
  @include flex();
  @include justify-content(center);
  @include align-items(center);
  &--auto {
    height: auto;
  }
  &--left {
    @include justify-content(start);
  }
  &--right {
    @include justify-content(end);
  }
  &__item {
    &--top {
      align-self: start;
    }
    &--bottom {
      align-self: end;
    }
  }
}
.padding {
  padding: 0 7.5vw 0 7.5vw;
  &--light {
    padding: 0 3.75vw 0 3.75vw;
  }
  &--top {
    padding-top: 5vh;
  }
  &--bottom {
    padding-bottom: 5vh;
  }
  &--cover {
    padding: 0 28vw 0 28vw;
  }
}
@media screen and (max-width: 700px) {
  .padding {
    & &--cover {
      padding: 0 7.5vw 0 7.5vw;
    }
  }
}
// ABOUT PAGE
.about-container {
  height: 100vh;
  display: grid;
  sizing-box: border-box;
  grid-template-rows: 3fr 1fr 2fr;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "about"
  "body";
  &__header {
    grid-area: header;
    @include cover-background('../img/main.jpg');
  }
  &__about {
    grid-area: about;
  }
  &__body {
    grid-area: body;
    display: flex;
    flex-flow: row wrap;
  }
}
.mission {
  flex: 1 1 500px;  
}
.vision {
  @extend .mission;  
}
//  HISTORY PAGE
.history-container {
}
//  NEWS HEADLINE PAGE
.news-container {
  height: 100vh;
  display: grid;
  sizing-box: border-box;
  grid-template-rows: 3fr 3fr;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "slideshow";
  &__header {
    grid-area: header;
    @include cover-background('../img/main.jpg');
  }
  &__slideshow {
    grid-area: slideshow;
    position: relative;
    height: 100%;
    width: 99.4vw;
    max-width: 100%;
    sizing-box: border-box;
    padding-bottom: 5vh;
  }
  &--single {
  grid-template-rows: 3fr 3fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "header header header header"
  "body body body thumbnail";
  }
  &__body {
    grid-area: body;
  }
  &__thumbnail {
    grid-area: thumbnail;
    display:flex;
    align-items: center;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      widtht: auto;
      height: auto;
    }
  }
}
.headline {
  height: 100%;
  /* index.css has conflicting classes*/
  display: grid !important;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  sizing-box: border-box;
  &__first {
    grid-column: 1;
    grid-row: 1;
    padding: 5vh 7.5vw 0 15vw;
  }
  &__second {
    grid-column: 2;
    grid-row: 1;
    padding: 5vh 15vw 0 7.5vw;
  }
}
.headline-body {
  height: 100%;
  display: grid;
  text-align: left !important;
  sizing-box: border-box;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas:
    "date"
    "headline"
    "link";
  &__date {
    grid-area: date;
  }
  &__headline {
    grid-area: headline;
  }
  &__link {
    grid-area: link;
  }
}
//  HISTORY
.history {
  $self: &;
  height: 100vh;
  display: grid;
  sizing-box: border-box;
  grid-template-rows: 3fr 3fr;
  grid-template-columns: 4fr 2fr;
  grid-template-areas:
  "header header"
  "body aside";
  &__header {
    grid-area: header;
    @include cover-background('../img/main.jpg');
  }
  &__body {
    grid-area: body;
    position: relative;
    padding: 5% 0 5% 7.5%;
    @include flex();
    @include flex-flow--wrap(column, nowrap);
    /* Overflow required min-height to parent flex display to work*/
    min-height: 0%;
    #{ $self }__textblock {
      flex-grow: 1;
      overflow-y: scroll;
      min-height: 100%;
    }
  }
  &__timeline {
    padding-top: 5%;
    grid-area: aside;
    position: relative;
    height: 100%;
    display: grid;
    sizing-box: border-box;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "timeline highline";
    #{ $self }__decades {
      grid-area: timeline;
      @include flex();
      @include flex-flow--wrap(column);
      padding: 5%;
      height: 100%;
      > div {
        position: relative;
        flex: 1;
        > a { 
          @include rotate-text(-90deg);
        }
      }
    }
    #{ $self }__highline {
      grid-area: highline;
      > div {
        position: relative;
        > h1 {
          @include rotate-text(-90deg);
          font-size: 7em;
        }
      }
    }
  }
}
