// LAYOUT FILE
//---------------------------
$selector: o-box;
.#{$selector} {
  $self: &;
  display: -webkit-flex;
  display: flex;
  height: inherit;
  &--column {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  &--row {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  &__item {
    flex: 1;
    z-index: inherit;
  }
  &--full {
    height: 100%;
  }
}

.c-align {
  $self: &;
  height: 100%;
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
  &--left {
    @include justify-content(start);
  }
  &--right {
    @include justify-content(end);
  }
  &__item {
    &--top {
      align-self: start;
    }
    &--bottom {
      align-self: end;
    }
  }
}

.c-about {
  height: 100vh;
  .c-about__header {
    background: url('../img/main.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex: 3
  }
  .c-about__select {
    flex: 2;
  }
}
.c-header {
    margin: 0 22.5vw 0 22.5vw;
}
.c-mission {
  margin: 0 7.5vw 0 7.5vw;
}

.c-news {
  height: 100vh;
  .c-news__title {
    margin: 0 0 0 7.5vw;
    flex: 2;
  }
  .c-news__slideshow {
    flex: 3;
    position: relative;
    height: 100%;
    max-width: 100%;
    margin-bottom: 4%;
  }
}
.swiper-slide {
  display: block;
}
.c-news-headline {
  height: inherit;
  width: inherit;
  text-align: left;
  &__left {
    padding: 0 7.5% 0 20%;
  }
  &__right {
    padding: 0 15% 0 7.5%;
  }
}

.c-swiper-focus {
  height: 100%;
  width: 4%;
  position: absolute;
  background: $theme-focus;
  z-index: 1;
  top: 0;
  &--right {
    right: 0;
  }
  .swiper-button-prev {
    z-index: 2;
  }
}
