// SLIDES FILE
//---------------------------
.c-gallery {
  $height: 20vh;
  $width: 24vw;
  $margin: 2vw;
  height: inherit;
  &__body {
    height: $height;
    width: $width*2 + $margin;
    &__title {
      flex: 2;
    }
  }
  &__img {
    flex: 1;
  }
}

