@import url('https://fonts.googleapis.com/css?family=K2D:300,400,500|PT+Sans');

%headingTypography {
    font-family: $heading-font-family; 
    font-weight: $heading-font-weight;
}

.typography { 
    font-family:    $fixed-font-family; 
    font-size:      $fixed-font-size; 
    line-height:    $fixed-line-height; 
    letter-spacing: $fixed-letter-spacing;
    font-weight:    $fixed-font-weight;
}


.h1  { font-size: 4.0em;  @extend %headingTypography; }
.h2  { font-size: 3.0em;  @extend %headingTypography; }
.h3  { font-size: 2.0em;  @extend %headingTypography; }
.h4  { font-size: 1.5em;  @extend %headingTypography; }
.h5  { font-size: 1.3em;  @extend %headingTypography; }
.h6  { font-size: 1.2em;  @extend %headingTypography; }
.p   { font-size: 1.1em; }
.a   { font-size: 1.1em; }
