/* Default Font */
$fixed-font-family: 'Myriad', 'PT sans';;
$fixed-font-size: 12px;
$fixed-line-height: 1.2;
$fixed-letter-spacing: 2px;
$fixed-font-weight: 300;
/* Heading Font */
$heading-font-family: 'K2D', 'sans-serif';
$heading-font-weight: 500;
