//
//  THEME FILE
//
//
//

//
//  SECTIONS VARIABLES
//
@total-height   : unit(@sections*100,vh);
@sections       : 4;
@section-height : 100vh;
@default-left   : 7.5vw;
@default-right  : 7.5vw;

//
//  COLOR VARIABLES
//
@black  : #131313;
@white  : #ffffff;
@red    : #e1321e;

//
//  THEME
//
.section {
    .background {
        .gradient(@color-1; @color-2; @top: 50%; @deg: 90deg) {
            @half-1: @color-1 @top;
            @half-2: @color-2 unit(100% - @top, %);
            background: linear-gradient(@deg, @half-1, @half-2);
        }  
        .color(@color) {
            background: @color;
        }
    }
    .default() {
        .background.color(@black);
    }
    .inverse() {
        .background.color(@white);
    }
    .special() {
        .background.gradient(@black; @red);
    }
}

.layout() {
    @head       :   "top    top"
                    "link   text";
    @default    :   "top    slide"
                    "info   slide";
    @footer     :   "head   slide"  
                    "footer footer";
    
    @symmetrical    :   50% 50%;
    @head-row       :   75% 25%;
    @default-column :   30% 70%;
    @footer-row     :   62% 38%;

    .set-grid(@layout) when (@layout = "header") {
        .by-areas(@head);
        .default(@symmetrical; @head-row);
    }
    .set-grid(@layout) when (@layout = "default") {
        .by-areas(@default);
        .default(@default-column; @symmetrical);
    }
    .set-grid(@layout) when (@layout = "rank") {
        .by-areas(@default);
        .default(@default-column; 25% 75%);
    }
    .set-grid(@layout) when (@layout = "footer") {
        .by-areas(@footer);
        .default(@default-column; @footer-row);
    }
}
.grid(@layout: "default") {
     .layout();
     .set-grid(@layout);
 }

 .default-locations() {
    .wide {
        &-top {
            .location(@column: 1 / span 2; @row: 1);
        }
        &-right {
            .location(@column: 2; @row: 1 / span 2);
        }
        &-bottom {
            .location(@column: 1 / span 2; @row: 2);
        }
    }
 }    

.text-color()   {
    .default {
        .font(@color: @white);
    }
    .inverse {
        .font(@color: @black);
    }
}
