.stylish {
  cursor: pointer;
  color: $white;
  padding: 1em 1.5em;
  text-decoration: none;
  border: 1px solid;
  border-color: $white;
  border-radius: 30px;
  &:hover {
    background-color: $white;
    border-color: $white;
    color: $black;
  }
  &:active {
    background-color: $lightgray;
  }
  &:visited {
    background-color: $darkgray;
  }
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: $red;
  transition: width .3s;
}
.cool-link:hover::after {
  width: 60%;
  //transition: width .3s;
}

.menu__link {
  color:inherit;
  cursor: pointer;
  &--active {
    color: $red; 
    text-decoration: underline;
  }
  &:hover {
    text-decoration: underline;
  }
}


  
