%section-size {
  height: 100vh;
  width: 100%;
}
.heading {
  @extend %section-size;
  position: relative;
  $this: &;
  &__body {
    position: absolute;
    top: 68vh;
    left: 0;
    height: 22vh;
    width: 100%;
    @include reverse-flexrow();
    @include align-items(center);
    padding-left: $padding-left;
    padding-right: $padding-right;
    #{$this}__contact {
      @include flex(2 2 300px);
      @include order(2);
    }
    #{$this}__msg {
      @include flex(2 0.5 400px);
      @include order(1);
    }
  }
}
.section {
  @extend %section-size;
  @include reverse-flexrow();
  $this: &;
  &__aside {
    padding-left: $padding-left;
    @include flex(2 2 300px);
    @include order(2);
  }
  &__body {
    padding-left: $padding-left;
    @include flex(9 1 700px);
    @include order(1);
  }
  &--reverse {
    @include flex-flow(row wrap);
    #{$this}__aside{
      @include order(1);
    }
    #{$this}__body{
      @include order(2);
    }
  }
  &--sibling {
    height: 60vh;
  }
}
.stack {
  @include stack-grid(2fr 5fr);
  height: 100%;
  $this: &;
  &__head {
    @include align-self(end);
    @include stack-child(1,2);
  }
  &__body {
    @include stack-child(2,3);
    &--expanded {
      @include stack-child(1,3);
    }
  }
  &--align-first {
    @include align-items(end);
  }
  &--align-center {
    @include align-items(center);
    @include justify-content(center);
  }
}

.ranking {
  padding-top: $padding-top * 1.5;
  padding-right: $padding-right;
  padding-left: $padding-left * 1.2;
  padding-bottom: $padding-bottom;
  height: 100%;
  $this: &;
  &__group {
    @include flexbox();
    @include flex-flow(row nowrap);
    @include reset();
    height: 100%;
  }
  &__rider {
    @include flex(1 1 4vw);
    min-height: 15vh;
    max-height: 60vh;
    margin-right: 2%;
    &:hover {
        #{$this}__headline {
          color: $red;
        }
        #{$this}__body {
          border: 2px solid $red;
        }
    }
  }
  &__headline {
    margin-left: 10%;
    }
  }

.profile {
  @include reset();
  display: block;
  position: relative;
  &__metrics {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $black75;
    > * {
      display: block;
      margin: 5% 10% 5%;
    }
  }
}

