html {
  font-size: 16px;
}
/*
@media screen and (min-width: 500px) {
  html {
    font-size: calc(8px + 10 * ((100vw - 500px) / 4820));
  }
}
*/
@media screen and (min-width: 5320px) {
  html {
    font-size: 30px;
  }
}


// Media for large screens
@media screen and (min-width: $media-mobile-width) {
  @include navbar-collapse-vertical();
}
// Media querie for small screens
@media screen and (max-width: $media-mobile-width) {
  @include flexmenu-vertical-highlight();
  @include navbar-collapse-horizontal();
}
