.bg-black {
  background: $black;
  color: $white;
  &--redish {
    color: $red;
  }
}
.bg-white {
  background: $white;
  color: $black;
  &--redish {
    color: $red;
  }
}
.bg-red {
  background: $red;
  color: $white;
}
.bg-blackred {
  background: linear-gradient(90deg, $black 50%, $red 50%);
  color: $white;
}
.fg-white {
  color: $white;
}
.fg-black {
  color: $black;
}
.fg-red {
  color: $red;
}
