.menu {
  @include flexbox();
  @include flex-flow(column nowrap);
  height: 100%;
  a {
    text-transform: uppercase; 
    cursor: pointer;
  }
  &__item {
    @include flex(0 1 80px);
    @include flexbox();
    @include align-items(center);
  }
  &__link {
    &:hover {
      color: $red;
    }
  }
}
